<%= form_for(@review) do |f| %>


  <div class="field">
    <%= f.label :评论内容 %><br>
    <%= f.text_area :content,:size=>'80*70' %>
  </div>

  <div class="actions">
    <%= f.submit '提交评论' %>
  </div>
<% end %>
